<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>/show/index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>WEB-INF/config/applicationContext.xml</param-value>  
    </context-param>  
	
	
	<!--系统过滤器-->
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>com.tool.UrlFilter</filter-class>
	</filter>
	
	<filter-mapping>
	   <filter-name>filter</filter-name>
	   <url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	<!--spring监听器-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!--数据加载-->
	<listener>
		<listener-class>com.core.ApplicationInit</listener-class>
	</listener>
	
	<!--property 加载-->
	<listener>
		<listener-class>com.core.ProManager</listener-class>
	</listener>
	
	<!--游戏日志-->
	<servlet>
		<servlet-name>log</servlet-name>
		<servlet-class>com.logic.gm.gamelog.ReceiLogAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>log</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
	<!--消息控制器-->
	<servlet>
		<servlet-name>console</servlet-name>
		<servlet-class>com.core.Console</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>console</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	<!--ckEditor-->
	<context-param>  
        <param-name>fileDir</param-name>  
        <param-value>ckUpload</param-value>  
    </context-param> 
	<servlet>
		<servlet-name>ckeditor</servlet-name>
		<servlet-class>com.logic.fck.Upload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ckeditor</servlet-name>
		<url-pattern>/ck</url-pattern>
	</servlet-mapping>
</web-app>
