.head{
   border: 0px solid red;
   width: 100%;
   height: 150;
   background-image: url("../img/headBg.jpg");
   background-repeat: repeat-x;
}
.head_content{
   border: 0px solid red;
   width: 1100;
   height: 150;
   margin-left: auto;
   margin-right: auto;
}

.nav{
   margin-top: 3px;
   border: 0px solid red;
   width: 100%;
   height: 40;
   background-image: url("../img/navBg.png");
   background-repeat: repeat-x;
}

.nav_content{
   border: 0px solid red;
   width: 1100;
   height: 40;
   margin-left: auto;
   margin-right: auto;
}

.nav_label{
	border: 0px solid black;
	width: 100px;
	height: 40px;
	background-image: url("../img/navBg.png");
	background-repeat: repeat-x;
	float: left;
	color: #fff;
	font-size: 16px;
	text-align: center;
	
	line-height:40px;
	height:40px
}

.show{
	margin-top: 3px;
	border: 0px solid red;
	
	margin-left: auto;
    margin-right: auto;
	width: 1100px;
	height: 385px;
}

.show_left{
	float: left;
	border: 0px solid red;
	
	width: 780px;
	height: 385px;
}

.show_right{
	float: left;
	border: 0px solid red;
	
	margin-left:20px;
	width: 300px;
	height: 385px;
}
.show_right_item1{
	float: left;
	border: 0px solid red;
	
	margin-top: 3px;
	
	width: 300px;
	height: 100px;
}

.show_right_item2{
	float: left;
	border: 0px solid red;
	
	margin-top: 3px;
	
	width: 300px;
	height: 200px;
}

.show_right_bottom{
	float: left;
	border: 0px solid red;
	
	margin-top: 3px;
	
	width: 300px;
	height: 85px;
}


.content{
	margin-top: 5px;
	border: 0px solid red;
	
	margin-left: auto;
    margin-right: auto;
	width: 1100px;
	height: 450px;
}

.content_head{
	border: 0px solid red;
	width: 100%;
	height: 35px;
	font-size: 20px;
	
	margin-left:10px;
	line-height:35px;
	height:35px
}

.content_content_item{
	border: 1px solid #aaa;
	width: 200;
	height: 180px;
	float: left;
	margin-left: 7px;
	margin-top: 10px;
	
	padding: 5px;
}

.content_content_item_name{
	width: 200px; 
	height: 40px; 
	text-align: center; 
	margin-top: 10px; 
	font-size: 14px; 
	color: #555
}


.content_content_px{
	border: 1px solid #aaa;
	width: 535px;
	height: 160px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}


.content_content_px_head{
	background-image: url("../img/titleBg.png");
	border: 0px solid red;
	width: 530px;
	height: 35px;
	float: left;
	font-family: 黑体; 
	font-size: 17px;
	color:#333;
	
	line-height:35px;
	padding-left: 5px;
}
.content_content_px_content{
	width: 515px;
	height: 100px;
	float: left;
	font-family: 宋体; 
	font-size: 13px;
	color:#252525;
	line-height:25px;
	padding: 5px;
}

.nav_img{
	margin-top: 5px;
	border: 0px solid red;
	
	margin-left: auto;
    margin-right: auto;
	width: 1100px;
	height: 80px;
}

.foot{
	margin-top: 5px;
	border: 1px solid #aaa;
	
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	height: 200px;
	
	background-color: #ddd;
}

.more{
	float: right; 
	margin-right: 10px; 
	font-size: 18; 
	color: #333;
	cursor: pointer;
}
