
.teacher{
   border-bottom: 1px solid #aaa;
   width: 1100;
   height: 160;
   margin-left: auto;
   margin-right: auto;
   padding: 5px;
   margin-top: 10px;
}

.teacher_content{
   border: 0px solid red;
   width: 880;
   height: 180;
   margin-left: 10px;
   float: left;
}

.teacher_name{
   border: 0px solid red;
   width: 100%;
   line-height:30px;
   height:30px;
   margin-top: 10px;
   margin-bottom: 10px;
   
   font-family: ÷ו; 
   font-size: 17px;
   color:#333;
}

.teacher_name_content{
   border: 0px solid red;
   width: 100%;
   height: 100px;
   margin-top: 10px;
   margin-bottom: 10px;
   
   	font-family: ו; 
	font-size: 13px;
	color:#252525;
}